venv
Code/MLFlowStarter/mlartifacts
Code/MLFlowStarter/mlruns
Code/MLFlowStarter/DLMLFlow/mlruns
Code/MLFlowStarter/DLMLFlow/mlartifacts


# MLflow artifacts
mlartifacts/
**/mlartifacts/

# Large model files
*.pkl